<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="edvardas" translate="label" sortOrder="10">
            <label>Edvardas</label>
        </tab>
        <section id="specialOfferModuleConfig" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Special Offer Module</label>
            <tab>edvardas</tab>
            <resource>Edvardas_Special::module</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Special Offer Module Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <comment>Choose whether popup should be enabled.</comment>
                    <source_model>Edvardas\Special\Model\Config\Source\ModuleEnable</source_model>
                </field>
                <field id="popupTime" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Display Timeout</label>
                    <comment>Set after how many seconds popup should appear.</comment>
                </field>
                <field id="popupBlock" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup Static Block</label>
                    <comment>Write an identifier of the block you want to show in the popup.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
